body {
    background-color: rgb(64, 73, 82);
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.brick {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 4px solid black;
    border-radius: 1rem;
    padding: 0.8rem;
    background-color:rgb(182, 182, 182)
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    /* padding: 1rem; */
    /* gap: 1rem; */
}

.title-bar {
    font-size: 1.5rem;
    margin: 2rem;
}

.full-readout,
.main-readout {
    text-align: right;
    padding: 6px;
    margin: 5px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(56, 59, 61);
    color: rgb(199, 209, 218);
}

.main-readout {
    font-size: 2rem;
}

.keypad {
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 25rem;
    /* justify-content: space-evenly; */
}

.column {
    display: flex;
    flex-direction: column;
    /* padding: 0.15rem; */
    /* flex-grow: 1; */
}

.row {
    display: flex;
    flex-direction: row;
    /* padding: 0.15rem; */
    /* flex-grow: 1; */
}

.single {
    flex-grow: 1;
    flex-basis: 5rem;
}

.double {
    flex-grow: 2;
    flex-basis: 10rem;
}

button {
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 0.2rem;
    flex-grow: 1;
    align-self: stretch;
    transition: all 0.1s;
}

.pressed {
    font-size: 1.3rem;
    color: orange;
    border: 4px solid orange;
    background-color: white;
}
